{% extends "base.html" %}

{% block title %}
Movies
{% endblock %}

{% block content %}
    <h1>All movies</h1>
    <h4>sorting</h4>
    <a class="btn btn-secondary" href="{% url 'index' %}?s=title">title</a>
    <a class="btn btn-secondary" href="{% url 'index' %}?s=rating">rating</a>
    <a class="btn btn-secondary" href="{% url 'index' %}?s=year">published year</a>
    <ul>
        {% for movie in movies %}
        <li>
            {{movie.rating}} <a href="{% url 'movie-detail' movie.id %}">{{ movie.title }}</a> ({{ movie.released.year }}) - {{ movie.genre.name }}
        </li>
        {% endfor %}
    </ul>
    <a class="btn btn-primary" href="{% url 'movie-create' %}">New movie</a>
{% endblock %}