{% extends "base.html" %}

{% block title %}
Movies
{% endblock %}

{% block content %}
    <h1>All movies</h1>
    <h4>sorting</h4>
    <a class="btn btn-secondary" href="{% url 'index' %}?s=title">title</a>
    <a class="btn btn-secondary" href="{% url 'index' %}?s=rating">rating</a>
    <a class="btn btn-secondary" href="{% url 'index' %}?s=year">published year</a>
    <ul>
        {% for movie in movies %}
        <li>
            {% if perms.viewer.view_movie %}
                {{movie.rating|floatformat:2}} <a href="{% url 'movie-detail' movie.id %}">{{ movie.title }}</a> ({{ movie.released.year }}) - {{ movie.genre.name }}
            {% else %}
                {{movie.rating|floatformat:2}} {{ movie.title }} ({{ movie.released.year }}) - {{ movie.genre.name }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% if perms.viewer.add_movie %}
    <a class="btn btn-primary" href="{% url 'movie-create' %}">New movie</a>
{% endif %}
{% endblock %}