{% extends "base.html" %}

{% block title %}
Password change
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
        {{ form.password1.errors }}
        <label for="{{ form.password1.id_for_label }}">New password</label>
        {{ form.password1 }}
    </div>
    <div class="form-group">
        {{ form.password2.errors }}
        <label for="{{ form.password2.id_for_label }}">Repeat new password</label>
        {{ form.password2 }}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{% endblock %}