{% extends "base.html" %}

{% block title %}
Users
{% endblock %}

{% block content %}
<h1>All users</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Firstname</th>
        <th scope="col">Is Active</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
        <th scope="col">Change password</th>
    </tr>
    </thead>
    <tbody>
    {% for profile in profiles %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ profile.user.username }}</td>
        <td>{{ profile.user.first_name }}</td>
        <td>{% if profile.user.is_active %}
            <a class="btn btn-success" href="{% url 'change-user-active' profile.pk %}">Active</a>
            {% else %}
            <a class="btn btn-danger" href="{% url 'change-user-active' profile.pk  %}">Inactive</a>
            {% endif %}
        </td>
        <td>{% if perms.accounts.change_profile %}
            <a class="btn btn-primary" href="{% url 'sign-up' %}">Update</a>
            {% endif %}
        </td>
        <td>{% if perms.accounts.delete_profile %}
            <a class="btn btn-danger" href="{% url 'user-delete' profile.pk %}">Delete</a>
            {% endif %}
        </td>
        <td>{% if perms.accounts.change_profile %}
            <a class="btn btn-warning" href="{% url 'user-change-password' profile.user.pk %}">Change password</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% if perms.accounts.add_profile %}
<a class="btn btn-primary" href="{% url 'sign-up' %}">New profile</a>
{% endif %}
{% endblock %}